<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main>
            {{- block "main" . }} {{ .Content }} {{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
