/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*
* Altered by Alex Selimov, 2023
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 450px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 75%; 
    max-width: 1000px;}
  .column,

  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 58%; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif; }
  

body {
  font-size: 1.8rem;
  line-height: 1.618;
  margin: auto;
  padding: 13px;
  color: #bdae93; 
  background: #282828
  }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 nav.primary .brand {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-family: 'Arial', serif; font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem; color:#fbf1c7;}
h2 { font-family: 'Arial', serif; font-size: 3.0rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-family: 'Arial', serif; font-size: 2.4rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-family: 'Arial', serif; font-size: 2.0rem; line-height: 1.35; letter-spacing: -.08rem; }
nav.primary .brand{ font-family: 'Arial', serif; font-size: 1.5rem; line-height: 1.3;  letter-spacing: -.1rem; }
h5 { font-family: 'Open Sans', serif; font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-family: 'Open Sans', serif; font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
.big_text { font-size: 5.0rem; line-height: 1.2;  letter-spacing: -.1rem;}


/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 3.0rem; }
  h3{ font-size: 2.6rem; }
  h4 { font-size: 2.4rem; }
  nav.primary .brand { font-size: 2.4rem; }
  h5 { font-size: 2.0rem; }
  h6 { font-size: 1.5rem; }
  .big_text { font-size: 7.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 15px;
  color: #bdae93;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #bdae93;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #fbf1c7;
  border-color: #fbf1c7;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33c3f0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  max-width: 
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-top: 1px solid #a89984; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/*
 *Here are some custom user classes
 */

img.linklogo{
    filter: brightness(0) saturate(100%) invert(81%) sepia(27%) saturate(238%) hue-rotate(360deg) brightness(82%) contrast(92%);
    padding-left: 7px;
    padding-right: 7px;
    width:35px;
    height:auto;
}

img.linklogo:hover{
    filter: brightness(0) saturate(100%) invert(67%) sepia(8%) saturate(749%) hue-rotate(105deg) brightness(93%) contrast(87%);
}

/* img links */
a {
    color: #458588;
}
 a:hover{
    color: #83a598;
 }
a img  {
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}

a img:hover {
-webkit-transform: scale(1.04);
-moz-transform: scale(1.04);
-o-transform: scale(1.04);
-ms-transform: scale(1.04);
transform: scale(1.04);
}
/*primary navigation menu on desktop*/
nav.primary {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-between;
    flex-direction: row;
}

nav.primary li a {
    display: flex;
}

nav.primary .brand{
    font-size: 2em;
    display: block;
    padding 0 24px;
    width: 30%;
    text-decoration: none;
    transition: all .2s ease-in-out
    float: left;
}

nav.primary .brand:hover{
    transform: scale(1.1)
}

.brand-mobile{
    display: none;
    width:50%;
    height: auto;
    font-size: 3.0rem;
    transition: all .2s ease-in-out
}

.brand-mobile:hover{
    transform: scale(1.1)
}

nav.primary .item {
    font-size: 2.4rem;
    margin: 0px auto;
    padding: 0;
    list-style-type:none;
    display: inline-block;
    position: relative;
    float: right;
    color: #fbf1c7;
}

nav.primary .item a {
    display: inline-block;
    line-height:49px;
    color: #fbf1c7;
    text-decoration: none;
    padding: 0 14px;
}

nav.primary .item a:hover{
    color: #b8bb26;
}

.dropdown{
    float: left;
    border: none
}

button.dropbtn{
    font-size: 2.4rem;
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0px auto;
    color: inherit;
    text-transform:initial;
    padding: 0 14px;
    font-weight:normal;
}

button.dropbtn:hover{
    color: #b8bb26;
}
.dropdown-content{
    display:none;
    position:absolute;
    z-index:1;
    min-width:175px;
    font-size: 2.0rem;
    background-color:#665c54;
}

.dropdown-content a{
    float:none;
    padding:12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    display: block;
}

nav.primary .spacer{
    flex-grow: 1;
}

nav.primary a.icon{
    display:none;
}

/*Secondary navigation menu */
nav.mobile{
    transition: left 0.4s ease;
    position: fixed;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: #665c54;
    z-index: 9999;
}

nav.mobile a{
    color: #fbf1c7;
    font-size: 2.4rem;
    text-decoration: none;
}

nav.mobile .mobile-item{
    margin: 20px 10px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFF;
}

.bars{
    display : block;
    position: absolute; 
    top: 20%; 
    left: 20%;
}

.close{
    display: none;
}

@media screen and (max-width: 768px) {
    nav.primary {
        display: none;
    }

    nav.mobile.responsive {
        left: 0;
    }
    .brand-mobile{
         text-decoration: none;
         display:block;
         position: relative;
         width:70%;
         height: auto;
    }
    .hamburger{
        display: block;
        margin: 20px 0;
        position: fixed;
        top: 15px;
        left: 45px;
        height: 45px;
        width: 45px;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        transition: left 0.4s ease;
        background-color: #696969;
        z-index: 9999;
    }
    .hamburger.responsive{
        position: fixed;
        top: 15px;
        left: 55%;
        height: 45px;
        width: 45px;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        transition: left 0.4s ease;
        background-color: #ff6347;
        z-index: 9999;
    }

    .bars.responsive{
        display: none;
    }

    .close.responsive{
        display: block;
        color: #FFF;
        position: absolute;
        top: 4px;
        left: 10px;
    }

    nav.mobile .show{
        display: block;
    }
}

.caret {
    width: 0;
    height: 0;
    display: inline;
    border: 10px solid transparent;
}
.caret.down{
    border-top-color: black;
}

.linklist{

}
.linklist h4{
    margin: 0px 0px;
    color:#fbf1c7
}
.linklist p{
    margin: 0px 0px;
}
.linklist a{
    text-decoration:none;
    color:#bdae93;
    font-size:2.0rem;
    margin: 30px 0px;
    display: block;
}


.linklist a:hover h4{
    text-decoration:underline;
}
