{{ define "main" }}  
<div class="container">  
    <div class="section">  
        <div class="content">  
            <h2 class="title" style="color:#fbf1c7">{{ .Title }}</h2>  
            {{ range .Site.Taxonomies.tags }}
                <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }} ·
            {{ end }}
            {{ .Content }}  
            <div class="linklist">
                {{ range .Pages }}  
                       <a href="{{ .Permalink }}">
                           <h4>{{ .Params.title }}</h4>
                           <p style="font-size:1.6rem">{{ dateFormat "Jan 2, 2006" .Date }} </p>
                           <p style="font-size:1.8rem">{{.Summary }}</p>
                       </a>
                {{end}}
            </div>
        </div>  
    </div>  
</div>  
{{ end }}  

