<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main>
            <div class="container">
                <h1>{{ .Title }} </h1>
                Tags:{{ .Params.tags }}
                <br>
                {{ .Content }}
            </div>
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
