<header>
        <div class="row" style="margin-left:5%; margin-right:5% "> 
            <nav class="primary" id="Nav" style="width:100%">
                <a class="brand" href="/">Alex Selimov</a>
                <div class="spacer"></div>
                <div class="item">
                    <a href="/posts">Posts</a>
                </div>
                <div class="item">
                    <a href="/recipes">Recipes</a>
                </div>
                <div class="dropdown item">
                    <button class="dropbtn">About Me<i class="fa fa-caret-down"></i></button>
                    <div class = "dropdown-content">
                         <a href="/publications">Publications</a>
                         <a href="/presentations">Presentations</a>
                         <a href="/cv">Curriculum Vitae</a>
                    </div>
                </div>
            </nav>
            <center>
                <a class="brand-mobile" href="/"><h2>Alex Selimov</h2></a>
            </center>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <div class="hamburger" id="Ham">
                <div class = "bars" >
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <div class = "close">
                    <i class="fa-solid fa-xmark fa-2x"></i>
                </div>
            </div>
        </a>
        <nav class="mobile" id="Navmobile">
            <div class="mobile-item">
                <a href="/posts">Posts</a>
            </div>
            <div class="mobile-item">
                <a href="/publications">Publications</a>
            </div>
            <div class="mobile-item">
                <a href="/presentations">Presentations</a>
            </div>
            <div class="mobile-item">
                <a href="/cv">CV</a>
            </div>
        </nav>
        <br>

</header>
