{{ define "main" }}  
<div class="container">  
    <div class="section">  
        <div class="content">  
            <h2 class="title" style="color:#fbf1c7">{{ .Title }}</h2>  
            {{ .Content }}  
            <div class="linklist">
                {{ range .Pages }}  
                    {{ if (isset .Params "link") }}
                       <a href="{{ .Params.link}}">
                           <h4>{{ .Params.title }}</h4>
                           <p style="font-size:1.6rem">{{ dateFormat "Jan 2, 2006" .Date }} </p>
                           <p style="font-size:1.8rem">{{.Summary }}</p>
                       </a>
                    {{ else }}
                        <p style="margin:30px 0px">
                           <h4>{{ .Params.title }}</h4>
                           <p style="font-size:1.6rem">{{ dateFormat "Jan 2, 2006" .Date }} </p>
                           <p style="font-size:1.8rem">{{.Summary }}</p>
                        </p>
                    {{end}}
                {{end}}
            </div>
        </div>  
    </div>  
</div>  
{{ end }}  

