{{ define "main" }}
    <div class="container">
        <div class="row" >
            <center>
                <div style="text-align: center;">
                <img src="headshot.png" alt="Alex Selimov headshot" width="50%" height=auto style="max-width:200px;">
                <br>

                <h1>{{ .Site.Params.name }} </h1>
                <h2> {{ .Site.Params.tagline}} <br>
                    <a href="{{.Site.Params.company_link}}">{{ .Site.Params.company}} </a></h2>

                {{if isset .Site.Params "email"}}
                        <a href="{{.Site.Params.email}}"><img class="linklogo" src="logos/email.svg" alt="Email"></a>
                {{end}}
                {{if isset .Site.Params "gitlab"}}
                        <a href="{{.Site.Params.gitlab}}"><img class="linklogo" src="logos/gitlab.svg" alt="Gitlab"></a>
                {{end}}
                
                {{if isset .Site.Params "scholar"}}
                        <a href="{{.Site.Params.scholar}}"><img class="linklogo" src="logos/scholar.svg" alt="Google Scholar"></a>
                {{end}}

                {{if isset .Site.Params "gnupg"}}
                        <a href="{{.Site.Params.gnupg}}"><img class="linklogo" src="logos/gnupg.svg" alt="Google Scholar" style="height:35px; width:auto"></a>
                {{end}}
                </div>
            </center>
        </div>
        <center>
            <br>
            <div class="row" style="max-width:650px">
                    {{.Content}}
            </div>
        </center>
        <br/>
        <h2>Recent</h2>
            <div class="linklist">
                {{ range ( where .Site.RegularPages "Type" "posts" | first 5 ) }}
                       <a href="{{ .Permalink }}">
                           <h4>{{ .Params.title }}</h4>
                           <p style="font-size:1.6rem">{{ dateFormat "Jan 2, 2006" .Date }} </p>
                           <p style="font-size:1.8rem">{{.Summary }}</p>
                       </a>

                {{end}}
                <center>
                    <a href="/posts" style="margin:40px; display:block;"><button>Show More</button></a>
                </center>
            </div>
        </div>
    </div>
{{ end }}
