<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main>
            <div class="container">
            {{- block "main" . }} 
                <strong>{{ .Title }}</strong> <br/>
                Authors: {{ .Params.authors }}<br/>
                <br/>
                {{ if .Params.linkToPublisher }} <a href="{{ .Params.linkToPublisher }}">Link to publisher</a><br/> {{ end }}

                {{ if .Params.manuscriptLink }} <a href="{{ .Params.manuscriptLink }}"><i class="fa-solid fa-download"></i> Click here to download manuscript preprint</a> <br/><br/> {{ end }}

                {{ .Content }} 
                {{ if .Params.figureLink }}
                {{ if.Params.figureCaption }}
                        <figure> <img src="{{ .Params.figureLink }}" style="display: block; width:75%; max-width:600px; height: auto; margin: auto;" alt="{{ .Params.figureCaption }}" /> <figcaption aria-hidden="true">{{ .Params.figureCaption }}</figcaption> </figure>
                        {{ end }}
                {{ end}}
            {{- end }}
            </div>
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
